.header {
    background-color: cornflowerblue;
    padding: 15px 10px;
}

.header a {
    color: black;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    padding: 15px;
}

.header a:hover {
    text-decoration: underline;
}

.header-links {
    float: right;
}

.logo {
    font-weight: bold;
    font-size: 18px;
}

.center {
    text-align: center;
}

.center-squish {
    text-align: center;
    margin: auto;
    max-width: 600px;
}

.about-section-left, .about-section-right {
    display: flex;
    width: 800px;
}

.about-section-left {
    flex-direction: row;
    padding-left: 12rem;
}

.about-section-right {
    margin-left: auto;
    flex-direction: row-reverse;
    padding-right: 12rem;
}

.about-section-right img, .about-section-left img {
    padding-top: 1rem;
}

.about-section-left-text {
    text-align: left;
    padding-left: 15px;
}

.about-section-right-text {
    text-align: right;
    padding-right: 15px;
}

p {
    line-height: 20px;
}